h3{
    color:blue
}
h4{
    color:rgb(199, 64, 15)
}
.myclass{
    color:goldenrod
}
#myid{
    color:rgb(235, 27, 200)
}

h5,p{
    color:rgb(51, 223, 28)
}

*{
    font-size: 30px;
    font-weight:500;
}